asgiref
certifi
charset-normalizer
Django
django-admin-autocomplete-filter
django-admin-rangefilter
django-cors-headers
django-filter
djangorestframework
drf-yasg
et-xmlfile
idna
inflection
openpyxl
packaging
psycopg2-binary
pycryptodome
pyTelegramBotAPI
python-dotenv
pytz
PyYAML
requests
six
sqlparse
transliterate
uritemplate
urllib3
gunicorn
whitenoise